@font-face {
    font-family: 'Barlow-Medium';
    src: url(../font/Barlow-Medium.d4afdc13.ttf);
}
@font-face {
    font-family: 'Barlow-Light';
    src: url(../font/Barlow-Light.19f244ec.ttf);
}
@font-face {
    font-family: 'Barlow-MediumItalic';
    src: url(../font/Barlow-MediumItalic.0914a22f.ttf);
}
@font-face {
    font-family: 'Barlow-Regular';
    src: url(../font/Barlow-Regular.e7eb634d.ttf);
}